<h1>Select a world to go to!</h1>
<body background="https://free-hd-wall-papers.com/images/gif-wallpaper/gif-wallpaper-22.gif" style="background-repeat: no-repeat;">
<% @worlds.each do |world| %>
  <%= link_to(world.setting, world) %><br>
<% end %>
</body>