<h1>In <%= @world.setting %></h1>
<div class="">
  You have <%= "#{@user_body.cores.count} / #{@world.cores.count}" %> of this world's cores!
</div>
<h2>You see <%=@world.description%></h2>

<h3>inhabitants</h3>
<% @inhabitants.each do |inhabitant| %>
<%if @user.bodies.include?(inhabitant)%>
<p>You're here too!<p>
<%else%>
  <%= link_to(inhabitant.name, inhabitant) %><br>
<% end %>
<br>
