<% if !@user.cores.blank? %>
  <h1>You've collected some cores.</h1>
  <br>
  <h2>Here's what you have on <%= @user.name %>: </h2>
  <ul>
  <% @user.cores.each do |core|%>
    <li><%=core.essence%> core, from <%=core.deity.name%> in <%=core.world.name%></li>
  <% end %>
  </ul>
<% else %>
  <h1>You haven't collected any cores yet...</h1>
  <h2>Get crackin!</h2>
<% end %>
